<ng-container *ngIf="dialogService.data.dialogType === 'confirmation'; else information">
    <div class="confirmation-dialog dialog">
        <div class="dialog-header">
            <h2>Please confirm:</h2>
        </div>
        <div class="dialog-content">
            <p>Are you sure you want to delete the {{ dialogService.data.type }} titled '{{ dialogService.data.name }}'?
            </p>
        </div>
        <div class="dialog-actions">
            <button (click)="onCancel()">Back</button>
            <button class="delete-button" (click)="onConfirm()">Delete</button>
        </div>
    </div>
</ng-container>
<ng-template #information>
    <div class="information-dialog dialog">
        <iframe [src]='getUrl()'
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="100%"
        ></iframe>
        <div class="dialog-actions">
            <button (click)="onCancel()">Bezárás</button>
        </div>
    </div>
</ng-template>

<div class="dialog-backdrop" (click)="onCancel()"></div>