:host {
    display: block;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 1rem;
    background-color: white;
    transform: translateY(-35%);
}

:host * {
    color: var(--background-color);
}

.title {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    gap: 0.5rem;
}

.description {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); */
}

.portraits {
    display: flex;
    gap: 0.5rem;
}

.portraits img {
    max-height: 40vh;
    max-width: 25vw;
    min-width: max-content;
    /* transform: translateY(10%);
    opacity: 0; */
}

.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    font-size: 1.5rem;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

.contacts tr {
    border-top: 1px solid var(--background-color);
}

.contacts th,
.contacts td {
    text-align: left;
    padding: 0.25rem;
}

.contacts th {
    padding-right: 1rem;
}

.contacts td {
    font-weight: 600;
}

.info {
    display: flex;
    gap: 1rem;
}

.info > h3 {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .description {
        margin-bottom: 1rem;
    }

    .container {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .portraits img {
        width: calc(50% - 0.25rem);
        max-height: none;
        max-width: none;
        min-width: auto;
    }
}

@media screen and (max-width: 700px) {
    table {
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
        ;
    }
}