<h1 class="title">Lépj velünk kapcsolatba!</h1>
<p class="description" #description>
    Tetszik amit csinálunk? Szeretnél magadról hasonló képeket készítettni? Az alábbi módokon léphetsz velünk kapcsolatba:
</p>
<div class="container">
    <div class="contacts">
        <table>
            <tr>
                <th>Email:</th>
                <td>heincz.miklos&#64;gmail.com</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>+36 30 719 5755</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>Hungary, Kőszegszerdahely Hegyi utca 22.</td>
            </tr>
        </table>
        <div class="info">
            <h3 (click)="openInformationDialog('../../assets/Adatkezelesi_tajekoztato_Sonnendent.pdf')">ÁSZF</h3>
            <!-- <h3 (click)="openInformationDialog('asd')">AKT</h3> -->
        </div>
    </div>
    <div class="portraits">
        <img class="image-first" src="../../assets/DSC7303.jpg" alt="" #imageFirst>
        <img class="image-second" src="../../assets/DSC4808_pp.jpg" alt="" #imageSecond>
    </div>
</div>
