<p><span #quote>A fényképben visszatükröződik az alkotó látásmódja: nem csak Te leszel a képen, benne leszünk mi is.
                Ahogy mi látunk Téged. Hiszünk abban, hogy mindenkiről más képet kell csinálni, és mindenkiről lehet jó
                képet csinálni. A kép tükrözni fogja a személyiségedet, és kihangsúlyozza azt, amit belsőleg és külsőleg
                meg akarsz mutatni a kép által magadról. Munkánk során nem a mennyiségre törekszünk, azonban igyekszünk,
                hogy a tőlünk kapott képek akár egy művészeti galériában, vagy egy neves magazin címlapján is megállja a
                helyét.
        </span></p>