.banner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    padding: 3rem;
    background-color: black;
    border: 1px solid white;
    z-index: 10;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.decline-button:hover {
    background-color: #AE392D;
    color: white;
}

.accept-button {
    background-color: white;
    color: black;
    border: none;
}

