:host{
    position: relative;
    top: var(--header-height);
    width: 100vw;
    height: fit-content;
}

.container{
    margin: auto;
    width: 50vw;
    padding-bottom: var(--footer-height);
}

.container h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.control-panel {
    text-align: right;
    margin-bottom: 1rem;
}

.control-panel button {
    background-color: white;
    color: #0C0D0E;
    font-weight: 700;
    padding: 1em;
}

.photo-list{
    margin-top: 4rem;
}

.photo {
    display: flex;
    border-top: 1px solid white;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: var(--background-color);
}

.photo img{
    width: 180px;
}

.title-form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.title-form input{
    width: 100%;
    background-color: var(--background-color);
    color: white;
    padding: 0.75em;
    border: 2px solid white;
}

.title-form input:focus{
    outline: none;
}

.title-form label{
    font-weight: 600;
    color: white;
    display: block;
    padding-bottom: 0.5em;
}

.preview-actions-wrapper{
    display: flex;
}

.preview-actions-wrapper img {
    margin: 0 0.5rem;
}

input[type="file"]{
    display: none;
}

.actions{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.actions button:first-child{
    margin-bottom: 0.5rem;
}

.actions button{
    height: 100%;
}

.edit-btn{
    background-color: #151719;
    border: none;
}

.edit-btn:hover{
    background-color: white;
    color: #0C0D0E;
}

.delete-btn{
    background-color: #151719;
    border: none;
}

.delete-btn:hover{
    background-color: #AE392D;
    color: white;
}

.add-photo-btn{
    width: 100%;
    background-color: #151719;
    border: none;
    font-size: 2rem;
    padding: 10px 0;
    margin-bottom: 1rem;
}

.add-photo-btn:hover{
    background-color: #131416;
    color: white;
}

.add-photo-btn:active{
    background-color: #101213;
    color: white;
}

.cdk-drag-placeholder {
    opacity: 0;
  }