:host {
    display: block;
    margin-bottom: 2rem;
}

.heading {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid white;
    padding: 0 1rem;
}

.heading h1{
    padding: 0 1rem;
    width: fit-content;
    transform: translateX(25%);
}

.title-section {
    position: sticky;
    width: 100%;
    top: var(--header-height);
    background-color: var(--background-color);
    z-index: 2;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    /* border-bottom: white 1px solid; */
}

.title-wrapper {
    height: 1.25rem;
    overflow-y: hidden;
    margin-right: 1em;
}

.sliding-titles {
    display: flex;
    flex-direction: column;
    /* transform: translateY(-3px); */
}

.sliding-titles h1 {
    font-size: 1rem;
    /* line-height: 100%; */
    font-weight: 400;
    text-transform: uppercase;
}

.sliding-titles a {
    cursor: pointer;
}

.gallery {
    /* margin-bottom: calc(var(--footer-height)); */
}

app-album-carousel {
    --carousel-window-width: 75vw;
    display: flex;
    scroll-snap-align: center;
    margin-top: 2rem;
    /* height: calc(100vh - var(--header-height) - var(--footer-height)); */
}

.wrapper {
    opacity: 0.1;
    margin: 0 1rem;
    height: fit-content;
    /* transform: scale(0.95); */
    /* height: calc(80vh - var(--header-height) - var(--footer-height) + 2rem); */
    /* height: calc(80vh - var(--header-height) - var(--footer-height)); */
}

.dropdown {
    width: fit-content;
    position: relative;
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    /* min-width: 30vw; */
    width: fit-content;
    padding-bottom: 0.6em;
    padding-right: 1em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    align-items: center;
    border: 2px solid white;
}

.dropdown-options {
    /* display: none; */
    position: absolute;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1em 0em 0.5em 0em;
    background-color: #050505;
    /* background: linear-gradient(#0c0d0e 10%, transparent 100%); */
    padding: 0.5rem 1rem;;
    /* margin-top: 2px; */
    /* border-bottom: 1px solid white; */
    margin-top: 0.5rem;
    width: 100%;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: translateY(-100%);
}

/* .dropdown-options::before {
    content: "";
    //mask: linear-gradient(black 50%, transparent 80%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: -1;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 1px;
} */

.dropdown-button mat-icon {
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-options ul {
    list-style-type: none;
}

.dropdown-options li {
    padding: 0.2em 0em;
    cursor: pointer;
}

/* @media screen and (max-width: 700px) {
    .dropdown-button {
        min-width: 40vw;;
    }
} */

@media screen and (max-width: 1200px) {
    app-album-carousel {
        --carousel-window-width: 80vw;
    }

}

@media screen and (max-width: 576px) {
    app-album-carousel {
        --carousel-window-width: calc(100vw - 32px);
    }
}